<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="mystyle.css">
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">

</head>
<body>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="index.js"></script>

    <div id = "sidebar">
        <div class= "rect">

        </div>
        <div id = "sideNavManagerLinks">
            <li class="list-group-item"><a href="https://smatsu-5.github.io/about"><i class="flyout-icon glyphicon glyphicon-calendar"></i>About Me</a></li>
            <li class="list-group-item"><a href="{% url 'default_collaborations_with_store' store %}"><i class="flyout-icon glyphicon glyphicon-envelope"></i>Collaboration</a></li>
            <li class="list-group-item"><a href="{% url 'employee_profile_manager' store %}"><i class="flyout-icon glyphicon glyphicon-briefcase"></i>Employee Profile Manager</a></li>
           
        </div>

    </div>


        <div class = "glyphicon glyphicon-align-justify" onmouseenter="bigImg()" onmouseleave="normalImg()"></div>
        
        <div class = "name_container">
            <h1 class = "name">Sana Matsumoto</h1>
        </div>

        <div class = "header">
            <h2>hello</h2>
        </div>

</body>
</html>
