body {
    background-color: aquamarine;
}

.container {
    height: 100%;
    
  }


.name_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .topnav {
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

.name {
    position: absolute;
    top: 10%;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.circle {
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}
